extends ../components/base/layout

block variables
  - const title = "StockSVC" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const intro = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "index.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    +platform()
    +feature-1()
    +feature-2()
    +feature-3()
    +get-started()
    +cash-rewards()
    +faq()
    +stock-market()

block modals
  +modal("modal--start-trading modal--no-scale")(data-modal="start-trading")
    +modal-start-trading()
