mixin feature-2()
  section.feature-2
    .container
      h2.title Buy out-of-form players and sell later for a higher price
      .feature-2__container-image
        .feature-2__circle-1
        .feature-2__circle-2
        .feature-2__block
        //-.feature-1__box-shadow-1
        //-.feature-1__box-shadow-2
        .feature-2__image
          +picture("content", "buy-sell-card-02", "png", 773, 480, "card of man", true)
        //-.feature-1__label.feature-1__label--cash-balance
          p.feature-1__label-title Cash Balance
          p.feature-1__label-price $2,826.98
          p.feature-1__label-factor 1.50897375
        //-.feature-1__label.feature-1__label--total-rewards-earned
          p.feature-1__label-title Total Rewards Earned
          p.feature-1__label-price $3,762.51
        //-.feature-1__label.feature-1__label--portfolio-value
          p.feature-1__label-title Portfolio Value
          p.feature-1__label-price $16,204,33
