mixin feature-1()
  section.feature-1
    .container
      h2.title Assemble your portfolio and&nbspcollect weekly reward payouts
      .feature-1__container-image
        .feature-1__circle-1
        .feature-1__circle-2
        .feature-1__block
        .feature-1__box-shadow-1
        .feature-1__box-shadow-2
        .feature-1__image
          +picture("content", "buy-sell-card-01", "png", 280, 295, "card of man", true)
        .feature-1__label.feature-1__label--cash-balance
          p.feature-1__label-title Cash Balance
          p.feature-1__label-price $2,826.98
          p.feature-1__label-factor 1.50897375
        .feature-1__label.feature-1__label--total-rewards-earned
          p.feature-1__label-title Total Rewards Earned
          p.feature-1__label-price $3,762.51
        .feature-1__label.feature-1__label--portfolio-value
          p.feature-1__label-title Portfolio Value
          p.feature-1__label-price $16,204,33
