mixin feature-3()
  section.feature-3
    .container
      h2.title Discover young wonderkids that will win you rewards for years to come
      .feature-3__container-image
        .feature-3__circle-1
        .feature-3__circle-2
        .feature-3__block
        .feature-3__image
          +picture("content", "buy-sell-card-03", "png", 765, 567, "card of man", true)
