mixin feature-2()
  section.feature-2
    .container
      h2.title Buy out-of-form players and sell later for a higher price
      .feature-2__container-image
        .feature-2__circle-1
        .feature-2__circle-2
        .feature-2__block
        .feature-2__image
          +picture("content", "buy-sell-card-02", "png", 773, 480, "card of man", true)
