mixin intro()
  section.intro
    //- вставлять блоки во внешний контейнер неверно
    //- все блоки содержат в себе container без доп класса tutorial__wrapper
    .container
      .intro__header
        h1.intro__title the Football Stock Market
        p.intro__slogan Buy, Sell, Earn.
        .intro__buttons
          +btn({
            text: "Start Trading", href: "#",
          }).btn--green
          +btn({
            icon: ["play", 24, 24]
          }).btn--icon
      .intro__hero-image
        .intro__shadow-small
        .intro__shadow-big
        //-.intro__container-cards
          +intro-card(["content/faces", "face-07", "png"], "Martinelli", "$3.46").intro-card--first
          +intro-card(["content/faces", "face-08", "png"], "Ederson", "$3.12").intro-card--second
          +intro-card(["content/faces", "face-06", "png"], "Maddison", "$2.39").intro-card--third
          +intro-card(["content/faces", "face-09", "png"], "James", "$2.29").intro-card--fourth
        +picture("content", "iphone", "png", 335, 718, "iphone app").intro__image-iphone
        .intro__image-content
          svg(width="316" height="684" viewBox="0 0 316 684" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
            mask(id="mask0_131_51" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="316" height="684")
              path(d="M0.0906471 341.89C0.0906471 246.7 0.0906471 151.51 0.0906471 56.3187C0.0906471 49.173 0.018793 42.0201 0.899625 34.9096C2.00748 25.9811 5.04393 17.9236 11.6192 11.4926C17.2759 5.95831 24.1918 3.03614 31.8675 1.71954C35.7881 1.06866 39.7528 0.719618 43.7268 0.675488C51.6738 0.54262 59.618 0.5101 67.5681 0.625624C70.686 0.670223 72.6112 2.8339 72.7422 5.55289C72.8497 7.80886 72.9086 10.0732 73.384 12.3239C74.1686 15.9515 76.0771 19.2393 78.838 21.7197C81.5989 24.2001 85.0717 25.7468 88.7623 26.1397C91.0285 26.3661 93.2894 26.4646 95.5596 26.4646C137.169 26.4646 178.777 26.4633 220.386 26.4606C223.547 26.4606 226.704 26.42 229.79 25.5853C237.374 23.5365 242.395 16.8169 242.772 8.94211C242.813 7.48082 242.93 6.02262 243.121 4.57326C243.451 2.39038 244.995 0.970957 247.174 0.722255C248.061 0.617786 248.953 0.562469 249.846 0.556557C258.443 0.533328 267.045 0.382806 275.633 0.80433C282.468 1.13944 289.193 2.22283 295.389 5.35189C305.464 10.4396 311.379 18.748 313.873 29.6534C315.13 35.1515 315.389 40.7437 315.515 46.3471C315.593 49.8379 315.598 53.3315 315.598 56.8242C315.605 247.613 315.609 438.401 315.609 629.189C315.609 635.848 315.623 642.512 314.799 649.134C313.685 658.062 310.647 666.124 304.075 672.549C298.802 677.703 292.395 680.628 285.252 682.044C279.102 683.266 272.858 683.492 266.611 683.5C247.388 683.526 228.165 683.533 208.942 683.519C156.79 683.52 104.637 683.521 52.4831 683.522C46.0742 683.522 39.6652 683.46 33.308 682.541C23.4122 681.109 14.8384 677.183 8.55023 669.083C4.68404 664.103 2.50117 658.394 1.3899 652.241C0.113256 645.17 0.116354 638.016 0.113256 630.871C0.0926086 591.803 0.0885823 552.736 0.101177 513.668C0.101177 456.409 0.101177 399.148 0.101177 341.887L0.0906471 341.89Z" fill="black")
            g(mask="url(#mask0_131_51)")
              path(opacity="0.4" d="M335.548 -17H-19.0001V700.886H335.548V-17Z" fill="#212429")
              //-g(style="mix-blend-mode:color-dodge")
                rect(x="-563" y="-48" width="1376" height="918" fill="url(#pattern0)")
              g(filter="url(#filter0_b_131_51)")
                path(fill-rule="evenodd" clip-rule="evenodd" d="M-0.00012207 422.068H2.83124L5.39178 438.388L6.48589 431.286L8.30093 430.228L9.45384 418.432L11.7608 412.698H13.4019L15.0559 406.12L16.5506 408.906L18.4848 401.88L21.0664 397.525L22.455 403.054V406.12L25.4109 398.587L26.5507 403.054L28.6913 401.88V408.906L32.326 406.12L33.6178 396.491L35.5883 398.587L37.777 396.491L39.3959 406.12L40.9944 404.149L42.7683 407.435L43.9196 403.054L45.6182 412.698L47.7736 411.41L51.7205 386.5L53.1217 406.12L54.9314 404.149V410.38L58.01 404.149L60.8214 401.88V394.41L63.3615 398.587L65.0916 391.178H67.9148L70.8723 388.473L72.5902 389.965V394.41L76.6161 389.965L77.9128 396.491L79.4065 404.149H82.0366L84.5248 401.88L86.4212 404.149L89.3143 400.475L90.6696 412.444L93.4004 410.38L94.7582 416.511H96.8471V422.068L98.8825 427.672L100.33 430.228L103.219 422.068H105.864V413.908L109 416.511L112.925 315.233L115.005 327.123L118.252 329.126L120.519 341.985L122.31 325.453L123.885 347.384L125.544 348.763L127.444 350.562L131.654 339.613L140.238 269L141.363 284.854L143.009 290.094L145.041 272.757L146.827 269L148.09 277.705L150.642 284.854L152.265 301.475L155.095 322.28L158 315.233L159.625 308.222L162.626 315.233H164.761V318.274L165.934 322.28L168.164 325.453H169.743L171.328 329.126L174.216 324.604L175.112 327.923L176.918 326.167L177.563 330.44L179.393 330.985L181.475 336.911L182.058 345.38L183.638 340.263L184.758 345.38L187.275 329.126L188.172 333.487H189.772L190.552 341.985L192.522 342.767V345.38L195.843 336.911L198.031 339.613L199.212 336.103L200.784 317.563L202.122 323.353L203.686 317.563L204.637 327.923L205.954 325.453L207.187 331.508L208.749 325.453L210.607 336.911L213.168 340.778L215.159 347.384V352.073L217.052 359.855L218.71 362.331L220.26 353.694L222.038 352.571H224.957L225.645 356.985L228.882 363.29L230.556 367.741L231.551 365.076L233.164 366.577V359.855L235.072 355.787L236.412 360.554H237.617L238.262 352.571L239.581 348.114L241.27 347.384L243.664 338.912L245.182 340.778L246.023 342.767L246.666 332.203L248.492 329.126H249.759L250.566 334.238L252.211 330.985V327.123L254.058 327.923L255.083 326.167L256.374 330.44L257.063 340.778L258.389 347.384L260.766 340.778L261.639 363.29L262.847 367.741L264.186 366.577L265.831 378.634H267.029L268.134 368.254L269.855 365.076L271.725 356.985L273.393 358.89L274.773 360.554L276.229 353.194L278.284 352.073H279.777L280.378 350.562L282.566 352.571L285.246 372.972L287.106 371.216L288.013 369.401L289.025 366.577L289.664 376.713L291.387 379.388L292.477 375.237L293.538 366.577L294.342 372.383L297.418 369.401L299.56 388.473V394.41L302.221 398.587V401.88L304.117 403.625L306.154 397.525L307.304 404.149L307.979 395.971L309.665 394.905L310.444 398.587L311.539 401.88L313.424 397.525L314.754 400.475L315.377 407.435L316 392.885V512H-0.00012207V422.068Z" fill="url(#paint0_linear_131_51)")
              path(d="M-0.00012207 421.718H2.83124L5.39178 438L6.48589 430.914L8.30093 429.859L9.45384 418.09L11.7608 412.369H13.4019L15.0559 405.807L16.5506 408.585L18.4848 401.576L21.0664 397.231L22.455 402.748V405.807L25.4109 398.291L26.5507 402.748L28.6913 401.576V408.585L32.326 405.807L33.6178 396.199L35.5883 398.291L37.777 396.199L39.3959 405.807L40.9944 403.84L42.7683 407.118L43.9196 402.748L45.6182 412.369L47.7736 411.084L51.7205 386.232L53.1217 405.807L54.9314 403.84V410.056L58.01 403.84L60.8214 401.576V394.123L63.3615 398.291L65.0916 390.898H67.9148L70.8723 388.2L72.5902 389.688V394.123L76.6161 389.688L77.9128 396.199L79.4065 403.84H82.0366L84.5248 401.576L86.4212 403.84L89.3143 400.174L90.6696 412.116L93.4004 410.056L94.7582 416.173H96.8471V421.718L98.8825 427.309L100.33 429.859L103.219 421.718H105.864V413.576L109 416.173L112.925 315.127L115.005 326.99L118.252 328.988L120.519 341.818L122.31 325.324L123.885 347.204L125.544 348.581L127.444 350.375L131.654 339.451L140.238 269L141.363 284.818L143.009 290.046L145.041 272.748L146.827 269L148.09 277.685L150.642 284.818L152.265 301.401L155.095 322.158L158 315.127L159.625 308.132L162.626 315.127H164.761V318.161L165.934 322.158L168.164 325.324H169.743L171.328 328.988L174.216 324.476L175.112 327.788L176.918 326.036L177.563 330.299L179.393 330.843L181.475 336.756L182.058 345.205L183.638 340.1L184.758 345.205L187.275 328.988L188.172 333.34H189.772L190.552 341.818L192.522 342.598V345.205L195.843 336.756L198.031 339.451L199.212 335.949L200.784 317.451L202.122 323.229L203.686 317.451L204.637 327.788L205.954 325.324L207.187 331.365L208.749 325.324L210.607 336.756L213.168 340.614L215.159 347.204V351.883L217.052 359.647L218.71 362.118L220.26 353.5L222.038 352.38H224.957L225.645 356.784L228.882 363.074L230.556 367.515L231.551 364.857L233.164 366.353V359.647L235.072 355.588L236.412 360.345H237.617L238.262 352.38L239.581 347.933L241.269 347.204L243.664 338.753L245.182 340.614L246.023 342.598L246.666 332.059L248.491 328.988H249.759L250.566 334.089L252.211 330.843V326.99L254.058 327.788L255.083 326.036L256.374 330.299L257.063 340.614L258.389 347.204L260.766 340.614L261.639 363.074L262.847 367.515L264.186 366.353L265.831 378.383H267.029L268.134 368.026L269.855 364.857L271.725 356.784L273.393 358.684L274.773 360.345L276.229 353.002L278.284 351.883H279.777L280.378 350.375L282.566 352.38L285.246 372.734L287.106 370.982L288.013 369.171L289.025 366.353L289.664 376.466L291.387 379.135L292.477 374.994L293.538 366.353L294.342 372.146L297.418 369.171L299.56 388.2V394.123L302.221 398.291V401.576L304.117 403.317L306.154 397.231L307.304 403.84L307.979 395.681L309.665 394.617L310.444 398.291L311.539 401.576L313.424 397.231L314.754 400.174L315.377 407.118L316 392.602" stroke="#16B862" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
              path(d="M315.566 0.569061H0.0065918V683.561H315.566V0.569061Z" fill="url(#paint1_linear_131_51)")
            defs
              pattern(id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1")
                use(xlink:href="#image0_131_51" transform="scale(0.000315657 0.000473485)")
              filter(id="filter0_b_131_51" x="-108.731" y="160.269" width="533.463" height="460.463" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB")
                feFlood(flood-opacity="0" result="BackgroundImageFix")
                feGaussianBlur(in="BackgroundImageFix" stdDeviation="54.3656")
                feComposite(in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_131_51")
                feBlend(mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_131_51" result="shape")
              linearGradient(id="paint0_linear_131_51" x1="-0.00012207" y1="269" x2="-0.00012207" y2="512" gradientUnits="userSpaceOnUse")
                stop(stop-color="#16B862" stop-opacity="0.4")
                stop(offset="1" stop-color="#16B862" stop-opacity="0.01")
              linearGradient(id="paint1_linear_131_51" x1="0.0065918" y1="0.569061" x2="520.103" y2="240.867" gradientUnits="userSpaceOnUse")
                stop(stop-color="#F5F7FA" stop-opacity="0.4")
                stop(offset="0.211" stop-color="#F5F7FA" stop-opacity="0.059")
                stop(offset="1" stop-color="#F5F7FA" stop-opacity="0")
              //-image(id="image0_131_51"  width="3168" height="2112" xlink:href="img/content/textures.png")
          .intro__image-card
            .intro__image-card-info
              .intro__image-card-title Mac Allister
              .intro__image-card-price $3.00
              .intro__image-card-price-rise +$15.82 (8.25%)
            .intro__image-card-face
              +picture("content/faces", "face-02", "png", 84, 84, "face man")
          ul.intro__image-tabs
            li.intro__image-tabs-item 1h
            li.intro__image-tabs-item.intro__image-tabs-item--active 24h
            li.intro__image-tabs-item 1w
            li.intro__image-tabs-item 1m
            li.intro__image-tabs-item 6m
          .btn.btn--green.intro__image-button Buy
        //-.intro__container-cards
          +intro-card(["content/faces", "face-06", "png"], "Maddison", "$2.39").intro-card--third
          +intro-card(["content/faces", "face-09", "png"], "James", "$2.29").intro-card--fourth
        //-.intro__container-cards
          +intro-card(["content/faces", "face-07", "png"], "Martinelli", "$3.46").intro-card--first
          +intro-card(["content/faces", "face-08", "png"], "Ederson", "$3.12").intro-card--second
        .intro__container-cards
          +intro-card(["content/faces", "face-07", "png"], "Martinelli", "$3.46").intro-card--first
          +intro-card(["content/faces", "face-08", "png"], "Ederson", "$3.12").intro-card--second
          +intro-card(["content/faces", "face-06", "png"], "Maddison", "$2.39").intro-card--third
          +intro-card(["content/faces", "face-09", "png"], "James", "$2.29").intro-card--fourth
