mixin platform()
  section.platform
    .platrorm__circle
    .platrorm__circle.platrorm__circle--small
    .container
      .platform__container-image
        +picture("content", "platform", "png", 566, 419, "screen platform", true)
      .platform__container-text
        h2.title platform to&nbspbuild a&nbspportfolio
        p.platform__text
          | We've created a platform that allows you to build a portfolio of your favourite
          | players and earn weekly, monthly and end of season rewards in cash.
          | It's just like the real stock market but, the stocks are football players
          | instead of companies!
