mixin test()
  section.test
    .container
      .item
        .sub-5
        .sub-4
        .sub-3
        .sub-2
        .sub-1

      .item-2
        .sub-51
          +img("content/test", "test-05", "png", 96, 96, "")
        .sub-41
          +img("content/test", "test-04", "png", 96, 96, "")
        .sub-31
          +img("content/test", "test-03", "png", 96, 96, "")
        .sub-21
          +img("content/test", "test-02", "png", 96, 96, "")
        .sub-11
          +img("content/test", "test-01", "png", 96, 96, "")

      .item-3
        .sub-52

        .sub-41
          +img("content/test", "test-04", "png", 96, 96, "")
        .sub-31
          +img("content/test", "test-03", "png", 96, 96, "")
        .sub-21
          +img("content/test", "test-02", "png", 96, 96, "")
        .sub-11
          +img("content/test", "test-01", "png", 96, 96, "")

      .item-4
        .sub-54

        .sub-44
          +picture("content/test", "test-04", "png", 96, 96, "", true)
        .sub-34
          +picture("content/test", "test-03", "png", 96, 96, "", true)
        .sub-24

        .sub-14





