.btn {
  display: inline-flex;
  padding: size(12px) size(24px);
  border-radius: size(12px);
  border: none;

  cursor: pointer;

  font-family: $ff-manrope;
  font-size: size(16px);
  font-weight: 700;
  line-height: size(24px);
  letter-spacing: size(-0.4px);
  color: rgba(0, 0, 0, 0.8);

  background-color: $color-default-white;

  transition: opacity $trans-default;

  &--green {
    color: $color-default-white;
    background: $apple-to-cyan;
    box-shadow: $bs-green-4, $bs-green-3, $bs-green-2, $bs-green-1;
  }

  &--full-width {
    width: 100%;
  }

  &--icon {
    padding: size(12px);

    svg {
      width: size(24px);
      height: size(24px);
    }
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  span {
    white-space: nowrap;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
