.faq {
  position: relative;

  padding: size(120px) 0;
  background-color: $color-black-russian;

  @include vp-767 {
    padding: 48px 0;

    overflow: hidden;
  }

  .container {
    display: flex;

    position: relative;
    z-index: 1;

    @include vp-767 {
      flex-direction: column;
    }
  }

  h2.title {
    width: size(385px);
    margin: 0;
    margin-right: size(175px);

    @include vp-767 {
      width: 296px;
      margin: 0 auto;
      margin-bottom: 24px;
    }
  }

  .accordion {
    width: size(760px);

    @include vp-767 {
      width: 296px;
    }
  }

  &__circle-1 {
    position: absolute;
    left: size(430px);
    top: size(199px);

    width: size(157px);
    height: size(157px);
    border-radius: 50%;

    background: linear-gradient(135deg, #76BB39 0%, #16B862 51.88%, #00858F 100%);
    box-shadow: 0px 0px 1px rgba(22, 184, 98, 0.24), 0px 2px 4px -1px rgba(10, 70, 82, 0.12), 0px 16px 24px rgba(22, 184, 98, 0.24), 0px 8px 8px -4px rgba(22, 184, 98, 0.12);

    @include vp-767 {
      left: -33px;
      top: 216px;

      width: 130px;
      height: 128px;
    }
  }

  &__circle-2 {
    position: absolute;
    right: size(820px);
    top: size(436px);

    width: size(276px);
    height: size(275px);
    border-radius: 50%;

    background: linear-gradient(135deg, #76BB39 0%, #16B862 51.88%, #00858F 100%);
    box-shadow: 0px 0px 1px rgba(22, 184, 98, 0.24), 0px 2px 4px -1px rgba(10, 70, 82, 0.12), 0px 16px 24px rgba(22, 184, 98, 0.24), 0px 8px 8px -4px rgba(22, 184, 98, 0.12);

    @include vp-767 {
      right: -41px;
      top: -50px;

      width: 168px;
      height: 165px;
    }
  }
}
