.feature-2 {
  @include vp-767 {
    overflow-x: hidden;
  }

  .container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;

    @include vp-767 {
      flex-direction: column;
      justify-content: initial;
    }
  }

  h2.title {
    width: size(492px);
    margin: 0;
    margin-left: size(24px);

    @include vp-767 {
      width: 296px;
      margin-left: 0;
      margin-bottom: 32px;
    }
  }

  &__container-image {
    position: relative;

    width: size(648px);
    height: auto;
    aspect-ratio: 648 / 480;

    @include vp-767 {
      width: 360px;
      aspect-ratio: 360 / 255;
    }
  }

  &__block {
    position: absolute;
    left: 0;
    top: size(62px);

    width: size(355px);
    height: size(357px);
    border: 1px solid rgba($color-alice-blue, 0.12);
    border-radius: size(24px);

    @include vp-767 {
      left: 27px;
      top: 8px;

      width: 184px;
      height: 185px;
      border-radius: 12px;
    }
  }

  &__circle-1 {
    position: absolute;
    left: size(-18px);
    top: size(80px);

    width: size(125px);
    height: size(124px);
    border-radius: 50%;

    background: $apple-to-cyan;
    box-shadow: $bs-dark-green-1, $bs-dark-green-2, $bs-dark-green-3, $bs-dark-green-4;

    @include vp-767 {
      left: 18px;
      top: 17px;

      width: 64px;
      height: 64px;
    }
  }

  &__circle-2 {
    position: absolute;
    left: size(154px);
    top: size(271px);

    width: size(164px);
    height: size(161px);
    border-radius: 50%;

    background: $apple-to-cyan;
    box-shadow: $bs-dark-green-1, $bs-dark-green-2, $bs-dark-green-3, $bs-dark-green-4;

    @include vp-767 {
      left: 107px;
      top: 116px;

      width: 83px;
      height: 83px;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: size(-89px);

    width: size(773px);
    aspect-ratio: 773 / 480;
    height: auto;

    @include vp-767 {
      left: -10px;
      top: -20px;

      width: 385px;
    }

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }
}
