.get-started {
  position: relative;

  padding: size(120px) 0;
  background-color: $color-black-russian;

  @include vp-767 {
    padding: 48px 0;

    overflow: hidden;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  h2.title {
    width: size(275px);
    margin: 0;
    margin-bottom: size(88px);

    @include vp-767 {
      width: 200px;
      margin: 0 auto;
      margin-bottom: 64px;

      text-align: center;
    }
  }

  &__list {
    display: flex;
    gap: size(24px);

    margin: 0;
    padding-left: 0;

    list-style: none;

    @include vp-767 {
      flex-direction: column;
      gap: 64px;
    }
  }

  .get-started-card {
    width: size(424px);

    @include vp-767 {
      width: 296px;
    }
  }

  &__circle-1 {
    position: absolute;
    left: size(932px);
    top: size(520px);

    width: size(240px);
    height: size(240px);
    border-radius: 50%;

    background: $apple-to-cyan;
    box-shadow: $bs-dark-green-1, $bs-dark-green-2, $bs-dark-green-3, $bs-dark-green-4;

    @include vp-767 {
      left: -33px;
      top: 266px;

      width: 130px;
      height: 128px;
    }
  }

  &__circle-2 {
    position: absolute;
    right: size(49px);
    top: size(143px);

    width: size(289px);
    height: size(289px);
    border-radius: 50%;

    background: $apple-to-cyan;
    box-shadow: $bs-dark-green-1, $bs-dark-green-2, $bs-dark-green-3, $bs-dark-green-4;

    @include vp-767 {
      right: -41px;
      top: 566px;

      width: 168px;
      height: 165px;
    }
  }

  .get-started-card:nth-child(1),
  .get-started-card:nth-child(2) {
    .get-started-card__text {
      width: size(285px);

      @include vp-767 {
        width: 100%;
      }
    }
  }
}
