.socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: size(24px);

  list-style: none;

  margin: 0;
  padding-left: 0;

  @include vp-767 {
    gap: 32px;
  }

  &__link {
    display: flex;

    @include hover-focus {
      opacity: 0.6;
    }
  }

  svg {
    width: size(24px);
    height: size(24px);

    @include vp-767 {
      width: 32px;
      height: 32px;
    }
  }
}
