mixin intro-card(image, name, price)
  .intro-card&attributes(attributes)
    .intro-card__image
      +picture(image[0], image[1], image[2], 64, 64, "face man")
    .intro-card__text
      p.intro-card__name=name
      p.intro-card__price=price
