//-mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Главная"
      },
      {
        href: "#",
        text: "Страница 2"
      },
      {
        href: "#",
        text: "Страница 3"
      },
    ]

  header.header(class=headerMods)
    .container
      if(currentUrl === "index.html")
        //- lighthouse снимает 10 баллов SEO за <a> без href
        span.header__logo Логотип
      else
        a.header__logo(href="index.html", aria-label="Переход на главную") Логотип
      nav.main-nav
        button.main-nav__toggle.btn-reset(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
          +icon("icon-burger", 20, 20)
        .main-nav__wrapper
          ul.main-nav__list
            each link in headerLinks
              - const activeState = currentUrl === link.href
              li.main-nav__item
                if(activeState)
                  span.main-nav__link.is-active= link.text
                else
                  a.main-nav__link(href=link.href)= link.text

mixin header(headerMods, currentUrl)
  header.header(class=headerMods)
    .container
      .logo
        +picture("content", "stocks-logo", "png", "226", "36", "logo-stock-sfc")
      ul.socials
        li.socials__item
          a.socials__link(href="")
            span.visually-hidden twitter
            +icon("twitter", 24, 24)
        li.socials__item
          a.socials__link(href="")
            span.visually-hidden discord
            +icon("discord", 24, 24)
        li.socials__item
          a.socials__link(href="")
            span.visually-hidden facebook
            +icon("facebook", 24, 24)
        li.socials__item
          a.socials__link(href="")
            span.visually-hidden instagram
            +icon("instagram", 24, 24)
        li.socials__item
          a.socials__link(href="")
            span.visually-hidden telegram
            +icon("telegram", 24, 24)
      .switch-color-theme
        label(aria-label="dark theme" tabindex="0")
          +icon("dark-mode", 24, 24)
          input.visually-hidden(type="checkbox" name="toggle-color-theme" value="dark" tabindex="-1" checked)
      +btn({
        text: "Sign Up", href: "#",
      }).btn--green
      +btn({
        text: "Login", href: "#",
      })

