//Shadow

$bs-green-1:                        0px size(8px) size(8px) size(-4px) rgba(22, 184, 98, 0.12);
$bs-green-2:                        0px size(16px) size(24px) 0px rgba(22, 184, 98, 0.24);
$bs-green-3:                        0px size(2px) size(4px) -1px rgba(10, 70, 82, 0.12);
$bs-green-4:                        0px 0px 1px 0px rgba(22, 184, 98, 0.24);

$bs-light-1:                        0px 1px size(2px) rgba(9, 13, 20, 0.24);
$bs-light-2:                        size(-2px) size(-2px) size(4px) rgba(224, 224, 255, 0.02);
$bs-light-3:                        0px size(4px) size(4px) rgba(9, 13, 20, 0.12);
